<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title>Index</title>
<link rel="stylesheet" type= "text/css" href="{% static '/style.css' %}">

  <style>
    body{
    background-color: forestgreen;
    color: whitesmoke;
    font-family: Luminari;
}
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  </style>
</head>


<body >

<h1 style="text-align: center">Simple Pokemon League Website</h1>

<img src='https://www.serebii.net/pokearth/maps/kanto-lgpe/39.jpg' alt="pokemonspic" style="width: 800px; height: 400px" class="center">
<h2 style="text-align: center">Welcome to the official Pokemon League-Haifa</h2>
<h3 style="text-align: center">
<a href="Query_Results.html" target="myframe">Query Results</a><br>
<a href="add_a_pokemon.html" target="myframe">Add A Pokemon</a>
</h3>





</body>
</html>

