<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type= "text/css" href="{% static '/style.css' %}">
    <meta charset="UTF-8">
    <title>hdhdh</title>

      <style>
    body{
    background-color: forestgreen;
    color: whitesmoke;
    font-family: Luminari;
}

  </style>
</head>



 <a href="Query_Results.html" target="myframe">Query Results</a><br>
<a href="Index.html" target="myframe">Index</a>
<body>
    <h1 style="text-align: center">Simple Pokemon League Website</h1>
<form method="POST" style="text-align: -webkit-center">
    {% csrf token %}
    Name: <input type="text" name="Name" maxlength="50" minlength="2" required="required"><br>
    Type: <input type="text" name="Type" maxlength="50" required="required"><br>
    Generation:<input name="Generation" type="number" min="1" max="6" required="required"><br>
    Legendary:<input type="checkbox" name="Legendary" ><br>
    Hp:<input type="number" name="Hp" min="1" max="300" required="required"><br>
    Attack:<input type="number" name="Attack" min="1" max="300" required="required"><br>
    Defence:<input type="number" name="Defence" min="1" max="300" required="required"><br>
    <input type="submit" value="Submit">

</form>


</body>
</html>